apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: go-next
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0.16
        env:
        - name: MYSQL_USER
          value: 'root'
        - name: MYSQL_ROOT_PASSWORD
          value: 'password'
        - name: MYSQL_PASSWORD
          value: 'password'
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-pv
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-pv
        persistentVolumeClaim:
          claimName: mysql-pvc